* {
    box-sizing: border-box;
}

body {
    color: #888897
}

.main-header {
    font-size: 2rem;
    font-weight: normal;
    border-bottom: 1px solid #f8f8f8;
    padding: 2rem;
    display: block;
    width: 1rem;
}

.container {
    margin-top: 5rem;
}

.circle-icon {
    background-color: #f8f8f8;
    color: #e38f42;

    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 4rem;

    /* align */
    text-align: center;
    line-height: 100px;
    vertical-align: middle; 

    margin: 2rem auto 1rem auto;

}